* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 0.65px;
}

body {
    font-family: 'Noto Sans', serif;
    cursor: url('../img/cursor_sword.cur'), auto;
}

a:hover {
    cursor: url('../img/cursor_mace.cur'), auto;
}


a {
    cursor: url('../img/cursor_mace.cur'), auto;
}

button:hover {
    cursor: url('../img/cursor_mace.cur'), auto;
}

header {
    height: 60vh;
    background: url("../img/header_bg.jpg") no-repeat center right'30%";
    background-size: cover;
    border-bottom: 4rem solid #3d3938;
}

.menu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform: translateY(-100%);
    background-color: rgba(60, 133, 39, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 10001;
    text-align: center;
}

.menu-button {
    width: 50px;
    height: 8px;
    min-width: 30px;
    min-height: 8px;
    background-color: #3C8527;
    border-radius: 50px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: #3C8527;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: -14px;
}


.menu-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: #3C8527;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -14px;
}

.menu.active {
    transform: translateY(0%);
}

.list-button {
    list-style: none;
}

.header_logo {
    min-width: 300rem;
}

.menu li {
    padding: 0rem;
}

.menu li a {
    text-decoration: none;
    font-size: 24rem;
    letter-spacing: 1.5rem;
    line-height: 85rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Geometria";
}


.header_logo {
    width: 180rem;
}

.header_menu {
    display: flex;
    column-gap: 45rem;
    list-style: none;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 10rem 20rem !important;
    background: #262423;

}

.header_menu a {
    font-family: 'Noto Sans', serif;
    font-size: 12rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

}

.header_menu a:hover {
    color: #1dc812;

}

.buy_link {
    display: block;
    padding: 6rem 12rem;
    background: #3C8527;
    border: 2rem solid #52A535;
    text-decoration: none;
    font-family: 'Noto Sans', serif;
    font-size: 24rem;
    font-weight: 800;
    margin-left: 2rem;
    color: #fff;
    text-transform: uppercase;
}

main {
    background: #171615;
}

.buy_link:hover {
    background: #86d562;

}

.discover_our_games {
    padding: 48rem 60rem 40rem;
}

.div_title {
    font-family: serif;
    font-size: 56rem;
    text-align: center;
    color: #fff;
    margin-bottom: 20rem;
}

.div_description_link {
    display: block;
    margin-bottom: 48rem;
    text-align: center;
    font-weight: bold;
    color: #6cc349;

}

.game_container {
    display: flex;
    justify-content: space-between;
}

.div_description_link:hover {
    color: #fff;

}

.game_container .game {
    width: 24%;
}

.game img {
    width: 100%;
    margin-bottom: 23rem;
}

.game_title {
    font-family: 'Noto Sans', serif;
    font-size: 42rem;
    color: #fff;
}

.game_description {
    font-size: 24rem;
    line-height: 30rem;
    color: #aba09c;
}

.newest_news {
    padding: 80rem 72rem;
    background: #262423;
}


.newest_news .release_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32rem;
}

.newest_news .div_title {
    margin-bottom: 55rem;
}

.newest_news .div_description_link {
    text-decoration: none;
    font-size: 28rem;
}

.div_description_link {
    text-decoration: none;
    font-size: 28rem;
}

.newest_news .div_description_link:hover {
    text-decoration: underline;

}

.newest_news p {
    font-size: 22rem;
    line-height: 24rem;
    color: #aba09c;
}

.release_container>div {
    position: relative;
    width: 266rem;
    height: 266rem;
}

.release_container>div img {
    width: 100%;
}

.release_absolut .category {
    display: inline-block;
    font-family: serif;
    padding: 2rem 4rem 2rem;
    text-align: center;
    background: #ffffff;
    margin-bottom: 6rem;
    font-size: 32rem;
    line-height: 32rem;
}

.release_container .release_absolut {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100rem;
    overflow: hidden;
    background: rgba(23, 22, 21, .8);
    padding: 14rem 12rem;
    backdrop-filter: blur(2rem);

}

.release_container img:hover {
    transform: scale(1.1);
    transition: 0.8s;

}

.release_container picture {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.release_container img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.release_absolut .release_description {
    font-family: serif;
    color: #fff;
    line-height: 24rem;
}

.author_content {
    padding: 48rem 60rem 32rem;
    color: #fff;
    text-align: center;
}

.minecraft_dungeons {
    padding: 80rem;
    background: #4f1030;
}

.minecraft_dungeons .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200rem;
    margin: auto;
    padding-top: 48rem;
}

.minecraft_dungeons .card img {
    width:100%;
}

.minecraft_dungeons .card {
    max-width: 600rem;
    text-align: center;
    flex: 1;
    color: #fff;
}

.minecraft_dungeons .card h3 {
    font-size: 42rem;
    font-family: serif;
    font-weight: 600;
    margin-bottom: 16rem;
}

.footer {
    background: #111;
}

.footer {
    background-color: #313131;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1440rem;
    padding: 32rem 24rem 27rem 9rem;
}

.footer .wrapper ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15rem;
}

.footer a {
    font-size: 20rem;
    color: #f8f5f4;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .wrapper>a {
    display: flex;
    align-items: center;
}

.author_content p {
    font-size: 20rem;
    line-height: 22rem;
}

.minecraft_dungeons p {
    font-size: 24rem;
    line-height: 28rem;
}

.header_menu {
    display: none;
}

.header_top {
    padding: 20rem;
}

.discover_our_games {
    padding: 48rem 20rem 40rem;
}

.game_container {
    flex-direction: column;
    align-items: center;
    gap: 40rem;
}

.newest_news {
    padding: 80rem 20rem;
}

.release_container {
    flex-direction: column;
    align-items: center;
    gap: 40rem;
}

.minecraft_dungeons .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40rem;
}

.footer .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20rem;
}

.footer a {
    font-size: 14rem;
}

.release_container div {
    width: 100%;
    height: auto;
}

.game_container img {
    min-width: 90%;
}

.game_container .game {
    width: 100%;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.6px;
    }

    .release_container div {
        width: 100%;
        height: auto;
    }

    .release_absolut .release_description {
        line-height: 33rem;
        font-size: 32rem;
    }

    .release_container .release_absolut {
        padding: 10rem 16rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 140rem;
        overflow: hidden;
    }

    .release_absolut .category {
        font-size: 45rem;
        line-height: 45.5rem;
        padding: 4rem 8rem;
    }

    .header_menu {
        display: none;
    }

    .game_container img {
        min-width: 600rem;
    }

    .game_container .game {
        width: 100%;
    }

    .header_top {
        padding: 20rem;
    }

    .discover_our_games {
        padding: 48rem 20rem 40rem;
    }

    .game_container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 40rem;
    }

    .newest_news {
        padding: 80rem 20rem;
    }

    .release_container {
        display: grid !important;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 40rem;
    }

    .realease_container>div {
        width: 100%;
    }

    .realease_container img {
        min-width: 600rem !important;
    }

    .minecraft_dungeons .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 40rem;
    }

    .footer .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20rem;
    }

    .footer a {
        font-size: 16rem;
    }

    .header_logo {
        width: 400rem !important;
    }

    .header_logo {
        width: 400rem !important;
    }

    .buy_link {
        font-size: 30rem;
    }
}

@media screen and (min-width: 1200px) {

    .menu-button {
        display: none;
    }

    html {
        font-size: 0.7px;
    }

    .newest_news .release_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32rem;
    }

    .header_menu {
        display: flex;
    }

    .header_menu a {
        font-size: 24rem;
    }

    .footer a {
        font-size: 22rem;
    }

    .header_top {
        padding: 20rem 60rem;
    }

    .discover_our_games {
        padding: 48rem 60rem 40rem;
    }

    .game_container {
        flex-direction: row;
        align-items: flex-start;
        gap: 32rem;
    }

    .newest_news {
        padding: 80rem 72rem;
    }

    .release_container {
        flex-direction: row;
        align-items: center;
        gap: 32rem;
    }

    .minecraft_dungeons .wrapper {
        flex-direction: row;
        align-items: flex-start;
        gap: 40rem;
    }

    .footer .wrapper {
        flex-direction: row;
        align-items: center;
        gap: 20rem;
    }

    .minecraft_dungeons .card img {
        width: 400rem !important;
        height: 600rem !important;
        min-height: 600rem !important;
    }

    .buy_link {
        padding: 6rem 12rem;
        font-size: 26rem;
    }

    .minecraft_dungeons .card h3 {
        font-size: 52rem !important;
    }

    .minecraft_dungeons p {
        font-size: 34rem !important;
        line-height: 38rem !important;
    }

    .minecraft_dungeons .card {
        width: 500rem !important;
        text-align: center;
        flex: 1;
        color: #fff;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 0.8px;
    }

    .newest_news .release_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 32rem;
    }

    .buy_link {
        padding: 6rem 12rem;
        font-size: 24rem;
    }

    .header_menu a {
        font-size: 20rem;
    }

    .release_container div {
        width: 100%;
        height: auto;
    }

    .header_menu {
        display: flex;
    }

    .header_top {
        padding: 20rem 60rem;
    }

    .discover_our_games {
        padding: 48rem 60rem 40rem;
    }

    .game_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 32rem;
    }

    .newest_news {
        padding: 80rem 72rem;
    }

    .game_container img {
        min-width: 300rem;
    }

    .game_container .game {
        width: 100%;
    }

    .release_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32rem;
    }

    .minecraft_dungeons .wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 40rem;
    }

    .footer .wrapper {
        flex-direction: row;
        align-items: center;
        gap: 20rem;
    }

    .minecraft_dungeons .card img {
        width: 400rem;
        height: 600rem;
        min-height: 400rem;
    }

    .minecraft_dungeons .card {
        width: 300rem;
        text-align: center;
        flex: 1;
        color: #fff;
    }
}

@media screen and (min-width: 2260px) {
    html {
        font-size: 1px;
    }
}

.buy_buy {
    position: fixed;
    top: 20rem;
    right: 20rem;
    z-index: 10002;
    width: 120rem; 
    height: 120rem;
    border-radius: 50%; 
    overflow: hidden; 
}

.buy_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.buy_link p {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3C8527;
    font-family: 'Noto Sans', serif;
    font-size: 32rem;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s ease; 
}

.buy_link p:hover,
.buy_link:hover p {
    background: #86d562;
}

